
/* this header is fixed at the top of page */
#fixed-header{
	background-color: #f00;
	min-height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
}

/* this header scrolls up and under the fixed header */
#collapsing-header{
	background-color: #0f0;
	min-height: 200px;
	margin-top: 100px;
}

/* the nav scrolls up and then docks beneath the fixed header */
#nav{
	position: absolute;
	background-color: #ccf;
	min-height: 75px;
	width: 100%;
}
/* this class is added to the nav when the value of window.scrollTop() > 200 */
#nav.nav-fixed{
	position: fixed;
	top: 100px;
	width: 100%;
}

/* this class is added to the content block */
#content{
	background-color: #ff0;
	margin-top: 75px;
}

